:root {
  background-color: #212529;
  text-align: center;
  color: wheat;
}

.App {
  text-align: center;
  color: wheat;
}

.App h1 {
  background-image: url("../public/river.jpg");
  color: wheat;
  text-shadow: 1px 0 0 #212529, 0 -1px 0 #212529, 0 1px 0 #212529, -1px 0 0 #212529;
}

.App .pad {
  margin: 1em;
}

div.row > div > * {
  max-width: 100%;
 }
